@import url("./stylesMagia.css")

@font-face {
font-family: LetterGothicStd;
src: url("./LetterGothicStd.otf") format("opentype");
}
@media (min-width:492px){
	.header {
	  background-color: #222;
	  /*background-image: url("../cirquitsBack.png*/
	  background-size: 100%;
    height: 80px;
	  margin: 0px auto;
	}
  .header-button {
    width: 30%;
    letter-spacing: 5px;
  }

}
@media (max-width:492px){
	.header {
	  background-color: #222;
	  /*background-image: url("../cirquitsBack.png*/
	  background-size: 100%;
    height: 50px;
	  margin: 0px auto;
	}
  .header-button {
    width: 90%;
    align-items: center;
    letter-spacing: 2px;
  }
}
.header-align-left{
  align-self: flex-start;
}
.header-tuggle {
  align-items: flex-start;
  text-align: right;
  letter-spacing: 2px;
  margin-right: 1vw;
  margin-left: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #FFF;
  font-size: 20px;
  outline:0;
}

.on {
  color: rgba(31, 156, 45, 0.6);
  transition: background 0.35s ease-in-out;
}

.off {
  color: white;
  transition: background 0.35s ease-in-out;
}

.header-menu{
  align-self: flex-end;
  background-color: #222;
  overflow: auto;
  width: 220px;
}

.header{
    z-index: 1000;
    position: relative;

}
.header-title {
	margin: auto;
	font-family: "Courrier new", Courrier, monospace;
	background: #222;
}
@media (max-width:780px){
  .header-container {
    background-color: #222;
    width: 100%;
    margin: 0 auto; 
    position: fixed;
    top: 0px;
  }
}

@media (min-width:780px){
  .header-container {
    background-color: #222;
    width: 75%;
    max-width: 900px;
    margin: 0 auto; 
    position: fixed;
    top: 0px;
  }
}

.App-logo {
  animation: Me-Pulse infinite 2s linear;
  height: 80px;
  float:left;
}
.header-btn-cnt {
  margin-top: 20px;
}
.header-button {
  display: inline-block;
  text-align: center;
  margin-right: 1vw;
  margin-top: 1px;
  height: 50px;
  margin-bottom: 20px;
  font-family: "LetterGothicStd", monospace;
  background: none;
  border: none;
  color: #FFF;
  font-size: 90% ;
  transition: background 0.35s ease-in-out;
}
.header-button:focus {
	outline:0;
	 background: rgba(31, 156, 45, 0.6);
}
.header-button:hover {

  background: rgba(31, 156, 45, 0.3);
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
.center{
  text-align: center;
}

 /* background: rgba(31, 156, 45, 0.3); */