body {
  margin: 0;
  padding: 0;
  background-image: url("../images/cinzaFundo.jpg");
}

header-container {
	width: 100%;
	position: fixed;
	top: 0px;
}

header {
	height: 50px;
	background: #F0F0F0;
	width: 960px;
	margin: 0px auto;
}
